# Annotator - extracting RNA base interactions and secondary structure

In this notebook we demonstrate how the `annotator.py` script can be used to:

- detect base pairs (Leontis-Westhof + Saenger),
- detect stacking interactions,
- detect base-phosphate and base-ribose interactions,
- build a secondary structure representation (dot-bracket, BPSEQ),
- export results to CSV and JSON for downstream analysis.

Two example structures are used:

- `5g35.pdb`
- `R1107TS128_4.pdb`

Input files are stored locally in: `../data/pdb/`

### Example 1: annotate first structure (5g35)

We run the annotator on a single PDB file and export:

- dot-bracket (saved to a text file),
- interactions table (CSV),
- Structure2D snapshot (JSON),
- BPSEQ,
- PyMOL script (PML) for stem visualization.

Outputs are stored in: `../outputs/annotator/5g35/`

In [1]:
!mkdir -p ../outputs/annotator/5g35

!python ../src/rnapolis/annotator.py \
  ../data/pdb/5g35.pdb \
  --csv ../outputs/annotator/5g35/interactions.csv \
  --json ../outputs/annotator/5g35/structure2d.json \
  --bpseq ../outputs/annotator/5g35/structure.bpseq \
  --pml ../outputs/annotator/5g35/stems.pml \
  > ../outputs/annotator/5g35/dotbracket.txt

In [2]:
!head -n 5 ../outputs/annotator/5g35/structure.bpseq

1 G 0
2 T 0
3 G 0
4 C 0
5 G 0

In [3]:
!cat ../outputs/annotator/5g35/dotbracket.txt

>strand_C
GT
..
>strand_D
GCG
...
>strand_E
GCTCTACGTCATCA
.((((((..(((((
>strand_F
GTGATGACGTAGAG
.)))))..))))))

In [4]:
import pandas as pd

df_5g35 = pd.read_csv("../outputs/annotator/5g35/interactions.csv").fillna("")
df_5g35[df_5g35["type"] == "base pair"]

       nt1     nt2       type classification-1 classification-2
0    D.DG1   E.DG1  base pair              cSW
1    D.DG1   E.DG1  base pair              cWS
2    D.DG9   E.DT9  base pair              cHW
3    D.DG9   F.DA7  base pair              cSS
4    D.DG9   F.DA7  base pair              cWW             VIII
5    E.DC2  F.DG14  base pair              cWW              XIX
6    E.DT3  F.DA13  base pair              cWW               XX
7    E.DC4  F.DG12  base pair              cWW              XIX
8    E.DT5  F.DA11  base pair              cWW               XX
9    E.DA6  F.DT10  base pair              cWW               XX
10   E.DC7   F.DG9  base pair              cWW              XIX
11  E.DC10   F.DG6  base pair              cWW              XIX
12  E.DA11   F.DT5  base pair              cWW               XX
13  E.DT12   F.DA4  base pair              cWW               XX
14  E.DC13   F.DG3  base pair              cWW              XIX
15  E.DA14   F.DT2  base pair              cWW               XX

In [5]:
import json

with open("../outputs/annotator/5g35/structure2d.json") as f:
    annotations = json.load(f)

print(json.dumps(annotations["stems"], indent=2))

[
  {
    "strand5p": {
      "first": 7,
      "last": 12,
      "sequence": "CTCTAC",
      "structure": "(((((("
    },
    "strand3p": {
      "first": 28,
      "last": 33,
      "sequence": "GTAGAG",
      "structure": "))))))"
    },
    "description": "Stem 7 12 CTCTAC (((((( 28 33 GTAGAG ))))))"
  },
  {
    "strand5p": {
      "first": 15,
      "last": 19,
      "sequence": "CATCA",
      "structure": "((((("
    },
    "strand3p": {
      "first": 21,
      "last": 25,
      "sequence": "TGATG",
      "structure": ")))))"
    },
    "description": "Stem 15 19 CATCA ((((( 21 25 TGATG )))))"
  }
]

![](5g35.png)

### Example 2: annotate the second structure (R1107TS128_4)

In this section we apply the same `annotator.py` workflow to a different RNA structure:
`R1107TS128_4.pdb`.

The goal is to show that the annotator can be used in an identical way for
different input structures, producing the same types of outputs without any
additional configuration.

As before, the annotator is used to:

- detect RNA base interactions,
- reconstruct the secondary structure,
- export results in multiple standard formats.

Outputs for this structure are stored in:

`../outputs/annotator/R1107TS128_4/`

In [6]:
!mkdir -p ../outputs/annotator/R1107TS128_4

!python ../src/rnapolis/annotator.py \
  ../data/pdb/R1107TS128_4.pdb \
  --csv ../outputs/annotator/R1107TS128_4/interactions.csv \
  --json ../outputs/annotator/R1107TS128_4/structure2d.json \
  --bpseq ../outputs/annotator/R1107TS128_4/structure.bpseq \
  --pml ../outputs/annotator/R1107TS128_4/stems.pml \
  > ../outputs/annotator/R1107TS128_4/dotbracket.txt

In [7]:
!cat ../outputs/annotator/R1107TS128_4/dotbracket.txt

>strand_0
GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU
[[[[[[...((((((((((.......))).]]]]]]........((..............)))))))))

In [8]:
df_casp = pd.read_csv("../outputs/annotator/R1107TS128_4/interactions.csv").fillna("")
df_casp[df_casp["type"] == "base pair"]

      nt1    nt2       type classification-1 classification-2
0    0.G1  0.U36  base pair              cWW           XXVIII
1    0.G2  0.C35  base pair              cWW              XIX
2    0.G3  0.C34  base pair              cWW              XIX
3    0.G4  0.C33  base pair              cWW              XIX
4    0.G5  0.C32  base pair              cWW              XIX
5    0.C6  0.G31  base pair              cWW              XIX
6   0.A10  0.U69  base pair              cWW               XX
7   0.G11  0.C68  base pair              cWW              XIX
8   0.C12  0.G67  base pair              cWW              XIX
9   0.A13  0.U66  base pair              cWW               XX
10  0.G14  0.C65  base pair              cWW              XIX
11  0.A15  0.U64  base pair              cWW               XX
12  0.A16  0.U63  base pair              cWW               XX
13  0.G17  0.C29  base pair              cWW              XIX
14  0.C18  0.G28  base pair              cWW              XIX
15  0.G19  0.C27  base pair              cWW              XIX
16  0.U20  0.U26  base pair              cWW              XVI
17  0.C29  0.U63  base pair              cHH
18  0.U45  0.A62  base pair              cWW               XX
19  0.U46  0.A61  base pair              cWW               XX

![](R1107TS128_4.png)

# Inspecting stacking interactions

**5G35:**

In [9]:
df_5g35[df_5g35["type"] == "stacking"]

       nt1     nt2      type classification-1 classification-2
16   D.DG1   E.DG1  stacking           upward
17   D.DG9  E.DC10  stacking           upward
18   E.DC2   E.DT3  stacking           upward
19   E.DT3   E.DC4  stacking           upward
20   E.DC4   E.DT5  stacking           upward
21   E.DT5   E.DA6  stacking           upward
22   E.DA6   E.DC7  stacking           upward
23   E.DT9  E.DC10  stacking           upward
24  E.DC10  E.DA11  stacking           upward
25  E.DA11  E.DT12  stacking           upward
26  E.DT12  E.DC13  stacking           upward
27  E.DC13  E.DA14  stacking           upward
28   F.DT2   F.DG3  stacking           upward
29   F.DG3   F.DA4  stacking           upward
30   F.DA4   F.DT5  stacking           upward
31   F.DT5   F.DG6  stacking           upward
32   F.DG6   F.DA7  stacking           upward
33   F.DG9  F.DT10  stacking           upward
34  F.DT10  F.DA11  stacking           upward
35  F.DA11  F.DG12  stacking           upward
36  F.DG12  F.DA13  stacking           upward
37  F.DA13  F.DG14  stacking           upward

**R1107TS128_4:**

In [10]:
df_casp[df_casp["type"] == "stacking"]

      nt1    nt2      type classification-1 classification-2
20   0.G1   0.G2  stacking           upward
21   0.G2   0.G3  stacking           upward
22   0.G3   0.G4  stacking           upward
23   0.G4   0.G5  stacking           upward
24   0.G5   0.C6  stacking           upward
25   0.G5  0.C33  stacking           inward
26   0.C7   0.A8  stacking           upward
27   0.A8   0.C9  stacking           upward
28  0.A10  0.G11  stacking           upward
29  0.G11  0.C12  stacking           upward
30  0.C12  0.A13  stacking           upward
31  0.A13  0.G14  stacking           upward
32  0.G14  0.A15  stacking           upward
33  0.A15  0.A16  stacking           upward
34  0.A16  0.G17  stacking           upward
35  0.G17  0.C18  stacking           upward
36  0.G17  0.U63  stacking           inward
37  0.G19  0.U20  stacking           upward
38  0.G19  0.G28  stacking           inward
39  0.U20  0.U21  stacking           upward
40  0.U21  0.C22  stacking           upward
41  0.A23  0.C24  stacking           upward
42  0.C24  0.G25  stacking           upward
43  0.G25  0.U26  stacking           upward
44  0.U26  0.C27  stacking           upward
45  0.G28  0.C29  stacking           upward
46  0.G31  0.C32  stacking           upward
47  0.C32  0.C33  stacking           upward
48  0.C33  0.C34  stacking           upward
49  0.C34  0.C35  stacking           upward
50  0.C35  0.U36  stacking           upward
51  0.U38  0.C39  stacking           inward
52  0.C39  0.A40  stacking           inward
53  0.A40  0.G41  stacking           upward
54  0.G41  0.C42  stacking           upward
55  0.C42  0.C43  stacking           upward
56  0.C43  0.A44  stacking           upward
57  0.A44  0.U45  stacking           upward
58  0.U45  0.U46  stacking           upward
59  0.G47  0.C48  stacking           upward
60  0.C48  0.A49  stacking           upward
61  0.A49  0.C50  stacking           upward
62  0.C50  0.U51  stacking           upward
63  0.C52  0.C53  stacking           upward
64  0.C53  0.G54  stacking           upward
65  0.G54  0.G55  stacking           upward
66  0.G55  0.C56  stacking           upward
67  0.C56  0.U57  stacking           upward
68  0.U57  0.G58  stacking           upward
69  0.C59  0.G60  stacking           upward
70  0.G60  0.A61  stacking           upward
71  0.A61  0.A62  stacking           upward
72  0.U63  0.U64  stacking           upward
73  0.U64  0.C65  stacking           upward
74  0.C65  0.U66  stacking           upward
75  0.U66  0.G67  stacking           upward
76  0.G67  0.C68  stacking           upward
77  0.C68  0.U69  stacking           upward

These output show stacking interactions between nucleotides together with
their relative topology (for example inward, outward, upward or downward),
which reflects the geometric arrangement of the bases.

![](stacking.png)

## Inspecting base–phosphate and base–ribose interactions

The annotator also detects non-canonical interactions involving the RNA backbone:

- base–phosphate interactions,
- base–ribose interactions.

These interactions are important for stabilizing RNA tertiary structure
and are reported separately in the interactions table.

#### base-phosphate interactions

**5G35:**

In [11]:
df_5g35[df_5g35["type"] == "base-phosphate interaction"]

,nt1,nt2,type,classification-1,classification-2
38,D.DT2,E.DC2,base-phosphate interaction,9BPh,
39,D.DA4,E.DC4,base-phosphate interaction,0BPh,
40,E.DA6,D.DG6,base-phosphate interaction,0BPh,
41,E.8PY8,D.DC8,base-phosphate interaction,1BPh,
42,E.DT9,D.DG9,base-phosphate interaction,0BPh,
43,E.DC10,D.DT10,base-phosphate interaction,0BPh,
44,F.DG6,C.DT5,base-phosphate interaction,0BPh,
45,F.DA11,F.DT10,base-phosphate interaction,0BPh,

**R1107TS128_4:**

In [12]:
df_casp[df_casp["type"] == "base-phosphate interaction"]

      nt1    nt2                        type classification-1 classification-2
78  0.G37  0.C22  base-phosphate interaction             5BPh

<br><br>

#### base-ribose interactions

**5G35:**

In [13]:
df_5g35[df_5g35["type"] == "base-ribose interaction"]

       nt1     nt2                     type classification-1 classification-2
46   C.DC7   F.DA7  base-ribose interaction              0BR
47  C.DT12  F.DG12  base-ribose interaction              0BR
48   D.DG9   E.DT9  base-ribose interaction              0BR
49  D.DG12  E.DT12  base-ribose interaction              0BR
50   E.DG1   D.DG1  base-ribose interaction              0BR
51   E.DT9   D.DG9  base-ribose interaction              5BR
52  F.DG14   E.DT3  base-ribose interaction              1BR

**R1107TS128_4:**

In [14]:
df_casp[df_casp["type"] == "base-ribose interaction"]

      nt1    nt2                     type classification-1 classification-2
79   0.G1  0.U20  base-ribose interaction              0BR
80   0.G2  0.U36  base-ribose interaction              3BR
81   0.G3   0.G2  base-ribose interaction              0BR
82   0.C6   0.C7  base-ribose interaction              0BR
83  0.G11  0.A10  base-ribose interaction              0BR
84  0.G17  0.A16  base-ribose interaction              0BR
85  0.G19  0.U20  base-ribose interaction              1BR
86  0.A23  0.U21  base-ribose interaction              7BR
87  0.A23  0.C22  base-ribose interaction              0BR
88  0.C24  0.G25  base-ribose interaction              0BR
89  0.G28  0.C27  base-ribose interaction              0BR
90  0.A30   0.A8  base-ribose interaction              2BR
91  0.G31   0.C7  base-ribose interaction              3BR
92  0.C43  0.C42  base-ribose interaction              0BR
93  0.C52  0.U51  base-ribose interaction              0BR
94  0.U64  0.U63  base-ribose interaction              0BR

Each interaction is classified using established interaction codes,
which allows direct comparison with literature descriptions of RNA
backbone-mediated contacts.

![](base-ribose.png)